@import 'nav/styles';
@import 'login/styles';
@import 'patients/styles';
@import 'procedures/styles';

html,
body,
.root {
	height: 100%;
	background-color: $primary-light;
}

.root * {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.is-underlined {
	text-decoration: underline;
}

.media-content {
	overflow: unset;
}

a:hover > .card {
	background-color: $white-bis;
}

.image.is-256x256 {
	height: 256px;
	width: 256px;
}

.file-input {
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0;
}

.calendar-container {
	height: 500px;
}

.rbc-event {
	background-color: $primary;
}

.rbc-event.rbc-selected {
	background-color: $primary-dark;
}

.rbc-today {
	background-color: $primary-light;
}

.has-no-text-decoration {
	text-decoration: none !important;
}
