@import 'nav/styles';
@import 'login/styles';
@import 'patients/styles';

html,
body,
.root {
	height: 100%;
	background-color: $primary-light;
}

.root * {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.is-underlined {
	text-decoration: underline;
}

.media-content {
	overflow: unset;
}

a.card:hover {
	background-color: $white-bis;
}

.image.is-256x256 {
	height: 256px;
	width: 256px;
}
